@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section role="article" id="about" class="about-wrap">
    <article class="about-me px-5">
        <div class="row gx-3">
            <div class="col col-lg-5 about-me-img-bg p-3">

                <img src="/img/bill-gilmour-photo.png" class="about-photo img-fluid" alt="Photo of Bill Gillmour" />

            </div>
            <div class="col-12 col-lg-7 about-me-content-wrap p-5">
                <h2 class="text-center text-light m-3">I'm Bill Gilmour</h2>
                <div class="about-me-content">

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                        iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                        Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                        iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                        Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                        iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                        Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>

                </div>
            </div>

        </div>
    </article>
</section>