@{
    ViewData["Title"] = "Home Page";
}

    <section role="banner" class="hero-banner">
        <div class="hero">
    <img src="/img/FinancePhoto.jpg" alt="" aria-hidden="true" />
        <div class="hero-section">
        <h1>Discover how I can help you take control of your finances.</h1>
        <div class="cta-button">
            <a class="btn btn-lg" href="#"> <div>Contact Me</div></a>
        </div>

        </div>
    </div>
    </section>
    <section role="textbox" class="mission-statement-wrap">
        <h2 >Our Mission</h2>
        <div class="mission-statement mt-5">
        <p>"To drive growth, integrity, and value through financial expertise, collaboration, and innovation."</p>
        </div>
    </section>


