@{
    ViewData["Title"] = "Home Page";
}

    <section role="banner" class="hero-banner">
        <div class="hero">
    <img src="/img/FinancePhoto.jpg" alt="" aria-hidden="true" />
        <div class="hero-section">
        <h1>Discover how I can help you take control of your finances.</h1>
        <div class="cta-button">
            <a class="btn btn-lg" href="#"> <div>Contact Me</div></a>
        </div>

        </div>
    </div>
    </section>
    <section role="article" class="about-wrap">
        <article class="about-me">
        <div class="row ">
            <div class="col col-lg-4 about-me-img-bg">

                <img src="/img/bill-gilmour-photo.png" class="about-photo img-fluid" alt="Photo of Bill Gillmour" />

            </div>
            <div class="col-12 col-lg-8 about-me-content-wrap">
                <h2 class="text-center text-light m-3">I'm Bill Gilmour</h2>
                <div class="about-me-content">
                   
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>
                  
                </div>
            </div> 

            </div>
        </article>
    </section>
<section role="article" class="skillset-wrap">
        <article class="skillset-container" >
           <div class="row">
               <div class="col-12 col-md-4">
                   <div class="icon-wrapper">
                       <i class="bi bi-hourglass-split"></i>
                   </div>
                   <div class="skill-content">
                       <h2>Strategic Thinking</h2>
                       <p>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum.
                       </p>
                   </div>
               </div>
            <div class="col-12 col-md-4">
                <div class="icon-wrapper">
                    <i class="bi bi-cash-coin"></i>
                </div>
                <div class="skill-content">
                    <h2>Financial Expertise</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="icon-wrapper">
                    <i class="bi bi-people-fill"></i>
                </div>
                <div class="skill-content">
                    <h2>Leadership</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum.
                    </p>
                </div>
            </div>
           </div>
        </article>
    </section>
    <section role="article" class="recommendation-wrap">
        <article class="recommendation-carousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://placehold.co/300x200/png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/300x200/png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/300x200/png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        </article>
    </section>


