@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <meta name="description" content="Portfolio webpage for CFO, Bill Gillmour" />
    <meta property="og:title" content="Bill Gillmour - CFO" />
    <meta property="og:description" content="Portfolio webpage for CFO, Bill Gillmour" />
    <meta property="og:url" content="" />
    <link rel="canonical" href="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <meta property="og:local" content="en_us" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
}

@section Header{
    <section role="banner" class="hero-banner">
        <div class="hero">

            <div class="hero-section">
                <h1>Take control of your finances.</h1>
                <div class="cta-button">

                    <a class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a>
                </div>

            </div>
        </div>
        </section>
}


    <section role="textbox" class="mission-statement-wrap">
        <h2>- Our Mission -</h2>
        <div class="mission-statement ">
        <p>"To drive growth, integrity, and value through financial expertise, collaboration, and innovation."</p>
        </div>
    </section>

    <section class="wrapper">
        <h2>Our Services</h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="d-inline">
                <i class="bi bi-bank2 icon-two"></i><br/><div class="d-inline-block">
                    <h3 class="headline3">CFO Advisory</h3>
                </div>
            </div>
            <div class="d-block">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                </p>
            </div>
            </div>
        <div class="col-12 col-md-4">
            <div class="d-inline">
                <i class="bi bi-graph-up-arrow icon-two"></i><br/><div class="d-inline-block">
                    <h3 class="headline3">Increase Net-Worth</h3>
                </div>
            </div>
            <div class="d-block">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-inline">
                <i class="bi bi-shield-fill-check icon-two"></i><br/><div class="d-inline-block">
                    <h3 class="headline3">Compliance</h3>
                </div>
            </div>
            <div class="d-block">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                </p>
            </div>
        </div>
        </div>
    </section>

<section class="index-content">
    <h3>Who We Serve</h3>
    
        <div class="row d-md-flex align-items-md-end">
        <div class="col-12 col-md-6">
                <div class="index-serve-content">
          <img src="~/img/Handshake.jpg" alt="" role="img" class="img-fluid"/>
                </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="index-serve-content">
                <h4>People Served</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>
                </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-first order-md-last">
                <div class="index-serve-content">
                    <img src="~/img/Handshake.jpg" alt="" role="img" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 col-md-6  order-md-first">
                <div class="index-serve-content">
                    <h4>People Served</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                        iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                        Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    </p>
                </div>
            </div>
        </div>

       
    </section>


