@{
    ViewData["Title"] = "Home Page";
}

    <section role="banner" class="hero-wrap hero-banner ">
    
        <div class="hero-section">
        <h1>Bill Gilmour</h1>

        </div>
    </section>
    <section role="article">
        <article class="about-wrap">
            About me
        </article>
    </section>
    <section role="article">
        <article class="skillset-wrap">
            skillsets
        </article>
    </section>
    <section role="article">
        <article class="recommendation-wrap">
            recommendations
        </article>
    </section>


