@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer Referral";
}
@section Header{
    <section role="banner" class="hero-banner">
        <div class="hero">

            <div class="hero-section">
                <h1 class="text-center">Industries</h1>


            </div>
        </div>
    </section>
}


    <section class="wrap">
        <div class="sub-header-wrap">
            <div class="sub-header">
                <h2>About our Industries</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                    iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                    Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>

        <div class="services-wrap">

            <div class="services-rows">
                <div class="row justify-content-center ">
                    <div class="col-12 col-lg-4">
                        <img src="~/img/Money-Hand.jpg" class="img-fluid services-img" role="img" alt="Hand holding money" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <h2>Software as a Service (SaaS)</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum. Lorem
                            ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nisi, incidunt
                            voluptatem cumque sunt fugiat tenetur aut? Officiis inventore doloribus id
                            explicabo fuga possimus tenetur
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 order-first order-lg-last">
                        <img src="~/img/Whiteboard-Hand.jpg" class="img-fluid services-img" role="img" alt="Hand writing on a clear whiteboard." />
                    </div>
                    <div class="col-12 col-lg-6 ">
                        <div>
                            <h2>Technology</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                                iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                                Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum. Lorem
                                ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nisi, incidunt
                                voluptatem cumque sunt fugiat tenetur aut? Officiis inventore doloribus id
                                explicabo fuga possimus tenetur
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center ">
                    <div class="col-12 col-lg-4">
                        <img src="~/img/Handshake.jpg" class="img-fluid services-img" role="img" alt="Hand reaching out for a handshake." />
                    </div>
                    <div class="col-12 col-lg-6">
                        <h2>Manufacturing</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illum. Lorem
                            ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nisi, incidunt
                            voluptatem cumque sunt fugiat tenetur aut? Officiis inventore doloribus id
                            explicabo fuga possimus tenetur
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section role="article" id="recommendations" class="recommendation-wrap">
    <article class="recommendation-carousel">
        <h2 class="text-center ">Satisfied Clients</h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/recommedation.png" class="h-100 w-100" alt="Satisfied customer recommendation statement">
                </div>
                <div class="carousel-item">
                    <img src="/img/recommedation.png" class="h-100 w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/recommedation.png" class="h-100 w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </article>
</section>*@
    <section class="recommendation-wrap">
        <h3 class="text-center mb-2 pb-2">Customer Reviews</h3>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="testimonial ">
                <div class="carousel-item active">
                    <div class="testimonial-content">
                        <img src="/img/recommedation.png" class="d-block w-100 visually-hidden" alt="..." aria-hidden="true" hidden>
                            <div class="testimonial-body">"Best CFO out there, really helped me take my business from 0 to hero!"</div>
                        <div class="">Joshua Anderson</div>
                            <div class="testimonial-title">Job Title</div>

                    </div>
                    </div>
                </div>
                <div class="testimonial ">

                    <div class="carousel-item  ">
                        <div class="testimonial-content">
                            <div class="testimonial-body">"Really helped me take my business from 0 to hero!"</div>
                            <div class="">Joshua Anderson</div>
                            <div class="testimonial-title">Job Title</div>

                        </div>
                    </div>
                </div>
                <div class="testimonial">
                <div class="carousel-item">
                    <div class="testimonial-content">
                        <p class="testimonial-body">"Took my business from 0 to hero!"</p>
                        <div>Joshua Anderson</div>
                        <div class="testimonial-title">Job Title</div>

                    </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev leftarrow" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="" aria-hidden="true"><i class="bi bi-arrow-left-circle-fill arrow"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next rightarrow" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="" aria-hidden="true"><i class="bi bi-arrow-right-circle-fill arrow"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>