@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary-color: #00729a;
    --bg-secondary-color: #003f58;
    --bg-light-color: #77b2d7;
    --bg-dark-blue: #1f3543;
    --bg-white-color: #cfd3d2;
    --bg-highlight-color: #fde40a;
    --bg-light-grey: #bbd3dc;
    --bg-dark-grey: #83a1af;
    --bg-heading-font: 'Lato', sans-serif;
    --bg-content-font: 'Lato', sans-serif;
   
}

html{
  font-size: 16px;
  font-family: var(--bg-content-font);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    font-family: var(--bg-content-font)
  
}

footer{
    background-color: var(--bg-secondary-color);
    color: var(--bg-white-color);
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: 1px solid var(--bg-white-color);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--bg-heading-font);
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin: 0;
    line-height: 1.5em;
   text-align: left;
   font-weight: 700;
    color: white;
    padding-top: 1rem;
    
    padding-left: .67rem;
    padding-right: .67rem;

}

.offcanvas-body{
    line-height: .67rem;
  
}

.header-bg {
    background: rgb(0, 114, 154);
    background-image: linear-gradient(0deg, rgba(31,53,67,1) 10%, rgba(119,178,215,0.4095763305322129) 70%, rgba(255,255,255,0.936186974789916) 90%), url("/img/Skyway-Bridge-2.jpg");
    height: 100vh;
    background-position: 0 0, 50%;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-attachment: scroll,scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
   
}

.btn {
    background-color: var(--bg-primary-color);
    color: var(--bg-white-color);
   
}

.btn:hover{
    background-color: var(--bg-highlight-color);
    color: var(--bg-dark-blue);
}

i:hover{
    color: var(--bg-highlight-color)
}

nav {

    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-white-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  padding-top: 0;
}
.navbar-toggler{
    padding: 0;
 
    border-radius: 0;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.navbar-toggler:hover{
    border-color: var(--bg-highlight-color);
}

.nav-link {
    margin: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
}

a.nav-link{
    color: var(--bg-primary-color);
    text-decoration: none;
    
   
}
a.nav-link:hover{
    color: var(--bg-highlight-color);
    text-decoration: none;
}

.img-logo-header{
    max-height: 200px;
    max-width: 200px;
    margin-left: 0;
  padding-bottom: 2rem;
 

}
.container-fluid{
    padding: 0;
}

.hero-banner .hero {
   
  /* background: rgb(0, 114, 154);
    background-image: linear-gradient(0deg, rgba(31,53,67,1) 0%, rgba(119,178,215,0.4095763305322129) 50%, rgba(255,255,255,0.936186974789916) 100%), url("/img/Skyway-Bridge-2.jpg");
    background-position: 0 0, 50%;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-attachment: scroll,scroll;
    display: flex;
    flex-flow: column;
    align-items: center;*/
}

.hero-section{
 font-weight: 700;
    display: flex;
    flex-direction: column;
   
}
.hero{
   
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   align-items: center;
   align-content: center;

}



.cta-button{
  
    padding-bottom: 2rem;
    padding-right: 1rem;
    margin-top: 2rem;
   
   
}

.index-content h3{
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
    padding-bottom: 1rem;

    color: var(--bg-dark-blue);
    letter-spacing: .2rem;
   
}

.index-content{
   
     height: 100%;
   

  
    
}

.index-serve-content{
  max-height: 100vh;
margin: auto;
   
}

.index-serve-content h4{
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.index-serve-content p{
    padding: 2rem;
    max-width: 600px;
}

.index-content .row{
    --bs-gutter-x: 0;
}

.mission-statement-wrap h2 {
    padding: 0;
    margin: auto;
    font-size: 2rem;
    text-transform: uppercase;
   
}
.mission-statement-wrap {
    display: grid;
    align-items: start;
    justify-items: center;
    background-color: var(--bg-dark-blue);
    color: var(--bg-white-color);
    text-align: center;
    margin-bottom: 0;
    height: auto;
}

.mission-statement {
    font-size: 1.5rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
   padding: 1rem;
 

}


/* About Page*/

.about-wrap h2{
    color: var(--bg-dark-blue);
    text-align: left;
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-top: .5rem;
}

.about-wrap {

    background-color: white;
    color: var(--bg-dark-blue);
}

    .about-wrap img {
        background-color: var(--bg-white-color);
        padding: 0;
      
        max-height: 90%;
        max-width: 90%;
        object-fit: fill;
        justify-items: center;
     
    }
.row .about-me-img-bg{
    align-items: center !important;
}

.about-me-content-wrap {
   
    background-color: white;
    height: 100%;
 max-width: 600px;
}

.about-me-content {
    text-align: justify;
   padding-right: 1rem;
   padding-left: 1rem;
   padding-top: 0;
   
}

/*Services Page */

.wrap{

    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}


 .wrap h2 {
    text-align: center; 
    color: var(--bg-primary-color);

}


/*
.services-img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}*/

/*Industries Page*/

.recommendation-wrap {
 
    background-color: white;
    height: 100%;
  
}

.recommendation-carousel {
   

   /* overflow: hidden;  */
  
}

.carousel-item {
        height: 100% !important;
        width: 100%;
    }

.carousel-item img {
/*    position: absolute;
    object-fit: cover;*/
 
   /*
    top:0;
    left:0;*/
   
}
.arrow{
    font-size: 3rem;
}
.leftarrow{
    width: auto;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    top: auto;
    bottom: -82px;
    left: auto;
    right: 50%;
}
.contact-bg {
     background-color: var(--bg-dark-blue);
 display: grid;
   align-items: center;
   justify-items: center;  
   height: 100vh;
   height: 100%;
}

.container{
   background-color: white;
   margin-left: 6rem;
   margin-right: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 4rem;
  
}
.contact-wrap {

    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact-wrap h2 {
    text-align: center;
    font-size: 2.5rem;
}
.contact-wrap p {
    padding: 2rem;
    font-size: 1.5rem;
    text-align: justify;
}

.form-group {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

form .btn {
    margin-left: 2rem;
}



.footer-logo {
    max-height: 100px;

  
}

.social-icon {
    font-size: 1.5rem;

   margin-left: .5rem;
    color: var(--bg-white-color);
}

a{
    text-decoration: none;
}



.social-icon a:hover {
    color: var(--bg-highlight-color);
}

.copyright {
    font-size: .67rem;
}
    /*
    




body {
    display: flex;
    flex-direction: column;
    font-family: var(--bg-content-font);
    font-size: 1rem;
    min-height: 100%;
    margin: 0;
    background-color: var(--bg-primary-color)
}
header {
    height: 2.5em;

}


.btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: .75rem;
    margin-top: .50rem;
    background-color: var(--bg-secondary-color);
    color: var(--bg-white-color);
    text-decoration: none;
    font-size: 1.5rem;
}

    .btn:hover {
        background-color: var(--bg-highlgiht-color);
        color: var(--bg-white-color);
    }

a{
    color: var(--bg-white-color);
}*/
    /* Navigation */
    /*
a.nav-link {
    color: var(--bg-white-color);
}

    a.nav-link:hover {
        color: var(--bg-secondary-color);
    }

.active {
    color: var(--bg-white-color) !important;
    text-decoration: underline;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
}
.navbar {
    background-color: var(--bg-primary-color);
    color: var(--bg-white-color);
    font-family: var(--bg-heading-font);
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 2rem;


   
  
}
.navbar-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.nav-item{
    display: inline-flex;
    align-items: center;

}


.phone-number {
    font-size: 1.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
  
}

.img-logo-header{
    position: relative;
  max-width: 250px;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  
}*/
    /* Nav End */
    /*main {
    background-color: var(--bg-white-color);
    height: 100%;
   
    flex: 1 0 auto;
    margin-top: 80px;
}*/
    /* Hero Section */
    /*
.hero-wrap{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;


}
.hero-banner{
    background-image: url('/img/GettingWorkDone.jpg');
 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
  
    height:70vh;    
}

.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-white-color);
    background-color: rgba(36,91,124, .7);
    border-radius: 0.5rem;
    padding-bottom: 5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.cta-button{
    position: absolute;
    width: 200px;
    height: 80px;
  top: 80%;
  left: 40%;
  transform: translate(-3%, -40%);


    
  
   

}*/
    /* About Section */
    /*.about-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 3rem;
    background-color: var(--bg-medium-blue);
    
}
.about-me-content-wrap{
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 4.5rem;
    padding-bottom: 0;
}

.about-me{
    padding: 1rem;
    
}
.about-me-content{
    color: var(--bg-white-color);
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem;
   height: auto;
    background-color: var(--bg-primary-color);
    border-radius: 10px;
    margin-top: 2rem;
}

.about-me-img-bg {
    background-color: var(--bg-light-color);
    height: 100%;
    justify-items: center;
    border-radius: 52% 48% 53% 47% / 37% 35% 65% 63%;
    padding-top: 5rem;
    margin-top: 2rem;
}

.about-photo{
    position: relative;
    display: inline-block;
    z-index: 3;
    
}
.about-photo>img{
  border-bottom: 5px solid #0b0511;
  border-radius: 10px;
}*/
    /* Skillset Section */
    /*
.skillset-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    background-color: var(--bg-primary-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.icon-wrapper {
    font-size: 10rem;
    display: flex;
    color: white;
    background-color: var(--bg-secondary-color);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: -15px 15px 41px -10px rgba(0, 0, 0 ,0.85);
    -webkit-box-shadow: -15px 15px 41px -10px rgba(0, 0, 0,0.85);
    -moz-box-shadow: -15px 15px 41px -10px rgba(0, 0, 0,0.85);
*/
}

/* Recommendation Section */

/*.recommendation-wrap {
    display: flex;
    justify-content: center;
 
}

.recommendation-carousel{
    width: 800px;
    height: 600px;
 
}*/


/* Footer */
/*
footer {
    background-color: var(--bg-primary-color);
    color: var(--bg-white-color);
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 2rem;
  
}

.footer-wrap {
    width: 60%; 

}



.footer-logo {
    width: 70px;
}

.social-icon {
    color: var(--bg-white-color);
    font-size: 2rem;
}

.line {
    border-bottom: solid 1.5px;
    border-color: var(--bg-medium-blue);
}

.copyright {
    font-size: 1rem;
}*/

/* Footer End */

