:root {
    --bg-primary-color: #245b7c;
    --bg-secondary-color: #3bc99d;
    --bg-light-color: #8ed1fc;
    --bg-medium-blue: #3b9ac9;
    --bg-white-color: #ffffff;
    --bg-highlgiht-color: #cc5500;
    --bg-heading-font: 'Lato', sans-serif;
    --bg-content-font: 'Oswald', sans-serif;
   
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@300;400&display=swap');

html, body {
   height: 100%;
    font-size: 16px;


}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--bg-content-font);
    font-size: 1rem;
    min-height: 100%;
    background-color: var(--bg-primary-color)
}
header {
    height: 2.5em;

}


.btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: .75rem;
    margin-top: .50rem;
    background-color: var(--bg-secondary-color);
    color: var(--bg-white-color);
    text-decoration: none;
    font-size: 1.5rem;
}

    .btn:hover {
        background-color: var(--bg-highlgiht-color);
        color: var(--bg-white-color);
    }

a{
    color: var(--bg-white-color);
}
/* Navigation */

a.nav-link {
    color: var(--bg-white-color);
}

    a.nav-link:hover {
        color: var(--bg-secondary-color);
    }

.active {
    color: var(--bg-white-color) !important;
    text-decoration: underline;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
}
.navbar {
    background-color: var(--bg-primary-color);
    color: var(--bg-white-color);
    font-family: var(--bg-heading-font);
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 2rem;


   
  
}
.navbar-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.nav-item{
    display: inline-flex;
    align-items: center;

}


.phone-number {
    font-size: 1.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
  
}

.img-logo-header{
    position: relative;
  max-width: 250px;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  
}
/* Nav End */
main {
    background-color: var(--bg-white-color);
    height: 100%;
   
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Hero Section */

.hero-wrap{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;


}
.hero-banner{
    background-image: url('/img/GettingWorkDone.jpg');
 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
  
    height: 85vh;    
}

.hero-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-white-color);
    background-color: rgba(0,0,0, 0.5);
    border-radius: 0.5rem;
    padding: 2em;

}

/* About Section */
.about-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;

    background-color: var(--bg-medium-blue);
    
}

.about-me{
    padding: 1rem;
    
}
.about-me-content{
    color: var(--bg-white-color);
    text-align: justify;
    font-size: 1.3rem;
    padding: 1.4rem;
   
    background-color: var(--bg-primary-color);
    border-radius: 10px;
}

.about-me-img-bg {
    background-color: var(--bg-light-color);
    height: 100%;
    justify-items: center;
    border-radius: 52% 48% 53% 47% / 37% 35% 65% 63%;
}

.about-photo{
    position: relative;
    display: inline-block;
    z-index: 3;
    
}
.about-photo>img{
  border-bottom: 2px solid white;
}

/* Skillset Section */

.skillset-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    border: 5px solid red;
}

/* Recommendation Section */

.recommendation-wrap {
    display: grid;
 
  
   
    border: 5px solid red;
}

.recommendation-carousel{
 
}


/* Footer */

footer {
    background-color: var(--bg-primary-color);
    color: var(--bg-white-color);
    flex-shrink: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 2rem;
  
}

.footer-wrap {
    width: 60%; 

}



.footer-logo {
    width: 70px;
}

.social-icon {
    color: var(--bg-white-color);
    font-size: 2rem;
}

.line {
    border-bottom: solid 1.5px;
    border-color: var(--bg-medium-blue);
}

.copyright {
    font-size: 1rem;
}

/* Footer End */

